/* Estilos genéricos */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eaeaea;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}

img {
    max-width: 100%;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

/* Indicaciones Responsive (Media queries)
FIRST MOBILE */
.padre-cards-grupo1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.padre-cards-grupo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Indicaciones Responsive (Media queries) - Solo en páginas "Lentes ópticos, Lentes de sol y Accesorios
TABLET */
@media (min-width: 768px) {
    .padre-cards-grupo1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .padre-cards-grupo2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

/* Indicaciones Responsive (Media queries) - Solo en páginas "Lentes ópticos, Lentes de sol y Accesorios
DESKTOP */
@media (min-width: 992px) {
    .padre-cards-grupo1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .padre-cards-grupo2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

/* Indicaciones Responsive (Media queries) - Solo en páginas "Lentes ópticos, Lentes de sol y Accesorios
DESKTOP GRANDES*/
@media (min-width: 1200px) {
    .padre-cards-grupo1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2;
    }

    .padre-cards-grupo2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2;
    }
}

/* Botón search del header */
.btn-outline-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #740bba;
    --bs-btn-border-color: #740bba;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #510583;
    --bs-btn-hover-border-color: #510583;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #740bba;
    --bs-btn-active-border-color: #740bba;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #30034e;
    --bs-btn-disabled-border-color: #30034e;
}


/* Estilos en body para el Index */

.nav-link {
    font-size: medium;
    font-weight: bolder;
    text-align: center;
    transition: all .5s;
}


/* Aplicación de Transición en la clase nav-link (Bootstrap) del navbar */

.nav-link:hover {
    background-color: #eaeaea;
    border-radius: 5px;
    padding: 5px;
}

.index-texto-descriptivo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    margin: 10rem auto;
}

.index-texto-descriptivo-hr {
    border: 1px solid black;
    border-radius: 5px;
    width: 50%;
    margin: 10rem auto 10rem auto;
}

.index-cards-principales-productos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

/* Estilos para Cards en Lentes de sol, ópticos y accesorios */

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #740bba;
    --bs-btn-border-color: #740bba;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #510583;
    --bs-btn-hover-border-color: #510583;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #740bba;
    --bs-btn-active-border-color: #740bba;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #30034e;
    --bs-btn-disabled-border-color: #30034e;
}

.card {
    transition: all .5s;
}

.card:hover {
    transform: scale(0.9);
    cursor: pointer;
}


/* Estilos de Examen visual y Contáctanos */

.contactanos {
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.h2-contactanos {
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #740bba;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.cards-in-forms {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.keyframe-textos {
    animation-name: parpadeo;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes parpadeo {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 2;
    }

}


/* Estilos de Footer */

.logo-footer {
    width: 90px;
    height: 84px;
}